*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    background: #321736;
    position: fixed;
    width: 100%;
    z-index: 100;
} 

.navbar{
    display: flex;
    margin-right: 10px;
}

.logo{
    margin-left: 30px;
}

.navbar a{
    display: block;
    padding: 20px 20px;
    color: #e6d7d7;
    text-decoration: none;
}

.navbar a:hover{
    background: #876a8b;
}
/* heigh tal vez es el problema tamaño de la cabeza*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background: url(img/mario.jpg) no-repeat center;
    background-size: cover ;
}


.title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0c0c0c;

}

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #000000;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #c4a3c9;
    color: #fff;
    text-decoration: none;
    background: #601969;
}
.btn :hover{
    background: none;
}

/*heigt estaba en 50vh*/
.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*heigt estaba en 80px 0*/
.sau {
    padding: 85px 0;
    background: linear-gradient(150deg, #6C3483, #58D68D);
}



.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

/*wid se modificah*/
.box-container .box{
    height: 170px;
    width: 500px;
    background: #969396;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    margin: 20px;
}

.box-container .box i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #601969;
    font-size: 25px;
    margin: 10px 0;
}

.box-container .box h3{
    font-size: 20px;
    color: #876a8b;
}

.box-container .box p{
    padding: 0 15 px;
    font-size: 16 px;
}

.price{

    background: url(img/avion.avif) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}


.about{
    background: linear-gradient(150deg, #6C3483, #58D68D);
    padding: 50px 0;
}

.box-container2{
    display: flex;
    justify-content: center;
    padding-top: 50px 0;
    flex-wrap: wrap;
}

.contact {
    padding: 50px 0;
    background: #321736;

}



